<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        {% for user in users %}
        <tr>
            <td>
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <p>{{ user.email }}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>