<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dojos</title>
</head>
<body>
    <header>
        <h1>Dojos</h1>
    </header>
    <main>
        <div class="box">
            <h2 id="box1">New Dojo</h2>
            <form action="/create_dojo" method="POST">
                <label for="name">New Dojos Name:</label>
                <br><br>
            <input type="text" name="name">
            <br><br>
            <input class="btn" type="submit" value="Create Dojo">
        </form>
        <br>
        <a class="dojos" id="new_ninja" href="/add_ninja">Create New Ninja</a>
    </div>
    <div class="box links">
            <h2>All Dojos</h2>
            {% for dojo in dojos %}
                <a class="dojos" href="/dojos/{{ dojo.id }}">{{ dojo.name }}</a>
            {% endfor %}
        </div>
    </main>
</body>
</html>