main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box{
    background-color: darkslategrey;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
}
h2{
    color: whitesmoke;
    position: relative;
    left: 70px;
}
label{
    color: whitesmoke;
}